.inputBox {
  display: flex;
  position: relative;
}

.inputBox input {
  width: 300px;
  height: 46px;
  border-radius: 8px;
  background: var(--light);
  font-size: 18px;
  border: 2px solid #c1c1c1;
  padding-left: 10px;
  margin-bottom: 2rem;
  transition: border .3s;
}

.inputBox input:focus {
  border: 2px solid var(--button)
}

.inputBox label {
  color: #969696;
  position: absolute;
  top: 12px;
  left: 10px;
  transition: all 0.3s;
  cursor: text;
}

.inputBox input:focus + label,
.inputBox input:not(:placeholder-shown) + label {
  transform: translate(-5px, -34px);
  font-weight: bold;
  color: var(--button);
  cursor: default;
}