.overlay {
  background: rgba(242, 243, 245, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--white);
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.modal h2 {
  color: var(--text);
  margin-bottom: 2rem;
}

.modal svg {
  position: absolute;
  right: .6rem;
  top: .6rem;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal form img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  align-self: center;
}